:root {
  /* Blue synthwave theme */
  --background-color: #1b2853;
  --secondary-dark: #13477d;
  --text: #04c4ca;
  --main-highlight: #f3ce75;
  --second-highlight: #e2a099;

  /* Black IDE theme */
  /* --background-color: #181818; */
  /* --text: #679ad1; */
  /* --main-highlight: #dcdcaf; */
  /* --second-highlight: #c5947c; */

  --diagonal-offset: 10rem;
}

html,
body {
  scroll-behavior: smooth;
  overscroll-behavior-y: none;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  color: var(--text);
  background: linear-gradient(
    -30deg,
    var(--main-highlight) 0%,
    var(--secondary-dark) 20%,
    var(--background-color) 40%,
    var(--second-highlight) 70%,
    var(--secondary-dark) 90%,
    var(--background-color) 100%
  );
}

a {
  color: var(--text);
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}
