.main {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 6rem 0;
}

.intro {
  padding-top: 12rem;
  font-stretch: expanded;
  font-size: 2rem;
  padding-left: 6rem;
  padding-right: 6rem;
}

.red {
  display: inline;
  color: #e2a099;
}

.yellow {
  display: inline;
  color: #f3ce75;
}

.hi {
  color: #e2a099;
  display: inline;
  font-size: 9rem;
  font-weight: 900;
}

.name {
  display: inline;

  font-size: 5rem;
  font-weight: 900;
}

.nickname {
  color: #f3ce75;
  display: inline;
  font-size: 9rem;
  font-weight: 900;
}

.container {
  position: relative;
  height: 100vh;
}

.image {
  z-index: -1;
  opacity: 0;
  object-fit: cover;
  object-position: center;
  animation: fade-in linear forwards;
  animation-timeline: view();
  animation-range: 2rem;
  filter: grayscale(80%);
  mask-image: radial-gradient(black 0%, transparent 70%);
}

.paragraph {
  position: absolute;
  z-index: -1;
  right: 10vw;
  top: 30vh;
  max-width: 30vw;
  font-size: 1.5rem;
  line-height: 2;
  /* animation: text linear forwards;
  animation-timeline: view();
  animation-range: 2rem;
  transform: translate(0, 40%); */
}

/* .paragraphs {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
  gap: 1rem;
  font-size: 1.5rem;
  line-height: 2;
}

.one {
  height: 100vh;
  grid-column: 4;
  grid-row: 1;
} */

@keyframes text {
  from {
    transform: translate(0, 40%);
  }
  to {
    transform: translate(0, -60%);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translate(0, -60%);
  }
  50% {
    opacity: 0.5;
  }
  to {
    opacity: 0;
    transform: translate(0, 40%);
  }
}

/* .uxImageContainer {
  position: relative;
  grid-column: 1 / 6;
  grid-row: 1;
} */

/* .uxImage {
  position: relative;
  z-index: -1;
  opacity: 0;
  object-fit: cover;
  object-position: center;
  animation: fade-in linear forwards;
  animation-timeline: view();
  animation-range: 6rem;
  transform: translate(0, -25%);
  mask-image: radial-gradient(black 0%, transparent 70%);
} */

/* .two {
  grid-column: 1;
  grid-row: 2;
}

.three {
  grid-column: 3;
  grid-row: 3;
}

.four {
  grid-column: 1;
  grid-row: 4;
}

.five {
  grid-column: 3;
  grid-row: 5;
} */
