.main {
  display: flex;
  flex-direction: column;
  padding-top: 9rem;
}

.intro {
  padding: 12rem 6rem;
  font-stretch: expanded;
  font-size: 2rem;
}

.primary {
  display: inline;
  color: var(--main-highlight);
}

.secondary {
  display: inline;
  color: var(--second-highlight);
}

.hi {
  position: relative;
  z-index: -1;
  color: var(--second-highlight);
  display: inline-block;
  font-size: 9rem;
  font-weight: 900;
  animation: hi linear;
  animation-timeline: view(0% 70%);
}

@keyframes hi {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(0, -100%);
  }
}

.name {
  position: relative;
  display: inline-block;
  z-index: -1;
  font-size: 5rem;
  font-weight: 900;
  animation: name linear;
  animation-timeline: view(0% 70%);
}

@keyframes name {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(0, -40%);
  }
}

.nickname {
  position: relative;
  color: var(--main-highlight);
  display: inline-block;
  font-size: 9rem;
  font-weight: 900;
  animation: nickname linear;
  animation-timeline: view(0% 60%);
  opacity: 1;
}

@keyframes nickname {
  from {
    transform: translate(0, 0);
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  to {
    transform: translate(0, 300%);
    opacity: 0;
  }
}

.container {
  position: relative;
  height: 150vh;
}

.main > .container:not(:first-child) {
  margin-top: calc(-1 * var(--diagonal-offset));
}

.main > .container:last-child > .image {
  clip-path: polygon(0% var(--diagonal-offset), 100% 0%, 100% 100%, 0% 100%);
}

.image {
  z-index: -1;
  opacity: 0.7;
  object-fit: cover;
  object-position: 50% 100%;
  filter: grayscale(100%);
  /* mask-image: radial-gradient(black 0%, transparent 70%); */
  clip-path: polygon(
    0% var(--diagonal-offset),
    100% 0%,
    100% calc(100% - var(--diagonal-offset)),
    0% 100%
  );
  /* transform: translate(0, -20em); */
  animation: linear fade-in forwards;
  animation-timeline: view(20%);
}

.paragraph {
  position: absolute;
  z-index: -1;
  right: 10vw;
  bottom: 50vh;
  max-width: 30vw;
  font-size: 1.5rem;
  line-height: 2;
}

@keyframes text {
  from {
    transform: translate(0, 40%);
  }
  to {
    transform: translate(0, -60%);
  }
}

@keyframes fade-in {
  from {
    object-position: 50% 100%;
    /* transform: translate(0, -20em); */
  }
  to {
    object-position: 50% 0%;
    /* transform: translate(0, 20em); */
  }
}
